

.main{
  width: 80%;
  margin: auto;


}
.heading{
  font-size: 45px;
  line-height: 52px;
  font-weight: 600;
  color: #fff;
}
.paragraph{
   font-size:25px;
   line-height: 32px;
   margin-top: 12px;
   color: #fff;
}
.main-container{
   /* background-color: #00dcf8; */
   width: 60vw;
   height: 80vh;
   margin: auto;

   /* margin-top: 32px!important;  */
}
.main-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
}
.image-save{
  width: 250px;
  height:300px;
}
.metadata-list{
  width:80%;
  margin: auto;
}
.image-save-file{
  width: 60vw;
  height: 80vh;
}
/* App.css */

.canva{
border: 2px solid red;
position: absolute;
}
.canvas-imageAnnotation{
border:3px solid green;
height: 100%;
width: 100%;
position: absolute;

}