

.main{
  width: 80%;
  margin: auto;


}
.heading{
  font-size: 45px;
  line-height: 52px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
}
.paragraph{
   font-size:25px;
   line-height: 32px;
   margin-top: 12px;
   color: #fff;
   font-style: italic;
}
.main-container{
   /* background-color: #00dcf8; */
   width: 60vw;
   height: 45%;
   margin: auto;


   /* margin-top: 32px!important;  */
}
.main-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
}
.image-save{
  width: 250px;
  height:300px;

}
.metadata-list{
  width:80%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

}
.metadata-list-grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
  
   width: 80%;
   margin-top: 30px;
   
}

.image-save-file{
width: 150px;
height: 200px;
}
/* App.css */

.canva{

position: absolute;
}
.canvas-imageAnnotation{

height: 100%;
width: 100%;
position: absolute;

}
.loading-indicator{
  
  margin-top:50px;
  width: 30%;
  margin: auto;
}